
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
html {
  scroll-behavior: smooth; 
}
body{
  background-color: #efeee8;
  width: 100%;

}
#Hello{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

}

header {
  position: sticky;
  top: 0;
  height: 70px;
  background-color: #efeee8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

/* Inner Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/* Logo */
#logo {
  width: auto;
  height: 60px;
}

/* Navigation Links */
#Links {
  display: flex;
  gap: 30px;
}

.navLinks {
  text-decoration: none;
  color: black;
  transition: transform 1s ease, color 1s ease; 
}
  
.navLinks:hover {
  color: #e9896a;
  transform: scale(1.2);
}

#logo,
#burger {
  width: auto;
  height: 60px;
  }




  @font-face {
    font-family: 'MetroPhotograph';
    src: url('/AnitaHon/Assets/Font/MetroPhotograph-DemoVersion-Regular.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@media only screen and (max-width: 900px) {
  #footer {
    display: none;
  }

  #Links {
    display: none; 
  } 

  #header {
    justify-content: center; 
    margin: 0; 
  }

  #logo {
    justify-content: center;
    align-items: center;
  }

}

.work-item a {
  display: block; /* Make the anchor tag a block element */
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit color from parent */
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}

#footer .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#footer .icon img {
  height: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0.7;
}

#footer .icon:hover img {
  transform: scale(1.2);
  opacity: 1;
}

#footer .icon p {
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}

/* Optionally, add a hover effect to the icons */
#footer .icon:hover img {
  transform: scale(1.2); /* Slightly enlarge the icon on hover */
  opacity: 1;
}
